/* ============================== Resets ==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ============================== Page Style ==============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  /* Light mode colors */
  --light-mode-bg: #ffffff;
  --pink: #ff52bf;
  ---light-pink: #ff8fd8;
  --light-red: #ff4242;
  --very-dark-cyan:#00252e;
  --white: #f5faff;



  /* Dark mode colors */
  --dark-bg-color: #16191b;
  --dark-footer-bg: #0e0f10;
  --dark-btn-color: #fb9155;
  --dark-btn-color-hover: #f5c4aa;
  --dark-text-color: #ecf6ff;
  --section-bg-color: #2f3234;


  /* Typo */
  --ff-headings: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}




body {
  font-family: var(--ff-body);
  color: var(--very-dark-cyan);
}




@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-10px);} 
  60% {transform: translateY(-5px);} 
}